/* Global rules */
* {
    /*box sizing*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* theam color*/
    --main-color:#824CB0;
    --main-color2:#A982C8;
    --third-color:#E4D4ED;
    --fourth-color:#d92525;
    --white-color:#f2f2f2;
    --background :#ececec;
    /*transition*/
    --main-tran:0.3s;
    /*animation*/
    --id-anime :up-down 7s linear infinite;
    /*padding sections*/
    --sections-padding:100px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    padding-left: 25px ;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;  
    padding: 0;
}
/*responsive media */
@media(min-width:767px){
    .container{
        max-width: 750px;
    }
}
@media(min-width:992px){
    .container{
        max-width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        max-width:1170px;
    }
}
/************************************************************************************/
/*header styling*/
header{
    /*varibale*/
    --header-hight:50px;   /*costome height to NAV bar*/
    /*******/
    position: relative;
    background-color: var(--white-color);
    box-shadow: 0 0 10px white;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .logo{
    height: var(--header-hight);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--main-color);
    display :flex;
    justify-content: center;
    align-items: center;
}
    /*logo media*/    /**********************************************/
@media (max-width:767px){  
    header .logo{
        width: 100%;
        height: 30px;
        margin-top: 15px;
    }
}
header .nav{
    display: flex;
}
    /*navication media *//**********************************************/
@media (max-width:767px){
    header .nav {
        margin:  auto;
    }
}
header .nav > li > a{
    display: flex;
    height: var(--header-hight);
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: relative;
    color: black;
    transition: var(--main-tran); /* main transitions*/
    overflow: hidden;
    font-size: 16px;
}
    /*links media */      /**********************************************/
@media (max-width:767px){
    header .nav li>a {
        font-size: 13px;
        padding: 10px 19px;
        height: 30px;
        margin-top: 10px;
    }
}
header .nav > li > a:hover{
    color: var(--main-color);
    background-color: white;
}
header .nav > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    top:0;
    left: -100%;
    transition: var(--main-tran);
    
}
header .nav > li > a:hover::before{
    left : 0;
}
header .nav > li:hover .pop-menu{
    opacity: 1;
    z-index: 5;
    top:calc(100% + 1px);
}
/* styling pop-up menu */
header .pop-menu{
    position: absolute;
    width: 100%;
    left:0;
    border-radius: 4px;
    background-color: #E4D4ED;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    z-index:-1;
    overflow: hidden;
    gap: 50px;
    top :calc(100% + 30px);
    opacity: 0;
    /*  transition for 2 attributes (top & opacity) */
    transition: top var(--main-tran) ,opacity var(--main-tran);
}
@media (max-width:767px){
    header .pop-menu{
        flex-direction: column;
        gap: 0;
        padding:10px
    }
}
header .pop-menu .image img{
    max-width:400px;
    padding-bottom: 10px;
}
@media (max-width:991px){
    header .pop-menu .image{
        display: none;
    }
}
header .pop-menu .links{
    min-width:250px;
    flex: 1;
}
header .pop-menu .links li{
    position: relative;
    padding: 5px;

}
header .pop-menu .links li a{
    color :var(--main-color);
    display: block;
    padding: 15px;
    font-weight: bold;
} 
header .pop-menu .links li a i{
    margin-right: 15px;
    width:15px
}
@media (max-width:767px){
    .pop-menu .links:first-of-type li:last-child{
        border-bottom:1px solid var(--white-color);
    }
}
header .pop-menu .links li::before{
    content: "";
    position: absolute;
    left:0;
    top:0 ;
    width:0;
    height: 100%;
    background-color: #f2f2f2;
    z-index: -1;
    transition: var(--main-tran);
}
header .pop-menu .links li:not(:last-child){
    border-bottom:1px solid var(--white-color);
}
header .pop-menu .links li:hover::before{
    width:100%;
}
/************************************************************************************/
/*********************/    
/****Landing styling*/
.landing  {
    position: relative;
}
.landing::before{
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color: #dfc0f8;
    transform: skewy(-5deg);
    transform-origin: top left;
}
.landing .container{
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.landing .container .text{
    flex:1
}
.landing .container .text h1{
    font-size:40px;
    letter-spacing: 1;
    margin:0;
}
.landing .container .text p{
    color: #777;
    font-size: 20px;
    text-align: start;
    line-height: 1.5;
    margin: 10px 0 0;
    max-width:450px;
}
.landing .container .imge img{
    width:550px;
    position: relative;
    animation: var(--id-anime); /*animation style line*/
}
.landing .arw {
    left: 50%;
    position: absolute;
    bottom: 20px;
    transform: translatex(-50%);
    transition: var(--main-tran);
    color: var(--main-color); 
}
.landing  .arw:hover{
    color: var(--main-color2);
}
.landing .arw i{
    animation: bouncing 1.5s infinite;
}
/*section animation*/ /*********************/  /*********************/  
@keyframes up-down{
    0% , 100%{
        left:0;
        top:0;
    }
    50%{
        left:-15px;
        top:-15px;
    }
}
@keyframes bouncing {
    0%,10%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-4px);
    }
    
}
/*Section quiery*/ /*********************/  /*********************/  
@media (max-width:767px){
    .landing .container{
        flex-direction: column;
        text-align: center;
    }
    .landing .container .text{
        margin-top: 50px;
    }
    .landing .container .text p{
        margin-top: 60px;
        text-align: center;
    }
    .landing .container .imge img{
        display:none;
    }
}
@media (max-width:991px){
    .landing .container{
        flex-direction: column;
    }
    .landing .container .text{
        margin: 70px auto;
    }
    .landing .container .text p{
    margin-top:30px;
    text-align: center;
    }
    .landing .container .imge img{
    max-width: 400px;
    }
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****article section style */
.articles{
    padding-top: var(--sections-padding);
    padding-bottom: var(--sections-padding);
}
.articles .content{
    display: grid;
    /* grid-template-columns: repeat(auto-fill,minmax(250px,1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.articles .card{
    background-color: white;
    box-shadow: 0 3px rgb(0 0 0 / 10%);
    border-radius: 5px;
    overflow: hidden;
    transition:transform var(--main-tran) ,box-shadow var(--main-tran);
}
.articles .card:hover{
    transform: translatey(-10px);
    box-shadow: 2px 3px rgb(0 0 0 / 20%);
}
.articles .card img{
    width:100%;
    max-width: 100%;

}
.articles .card .text{
    padding: 15px;
}
.articles .card .text h4{
    margin: 1px auto 15px;
    font-size: 20px;
    font-weight: 600;
}
.articles .card .text p{
    font-size: 13px;
    line-height: 1.6;
    color: #777;
    font-weight: 400;
}
.articles .card .info {
    display: flex;
    justify-content: space-between;
    padding-bottom: zpx;
    padding: 10px 2px 10px;
    border-top: 1px solid #e7e6e7;
    align-items: center;
}
.articles .card .info a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}
.articles .content .info i{
    color: var(--main-color);
}
.articles .card:hover .info i{
    animation: left-move 0.5s linear infinite;
}
/*section animation*/ 
@keyframes left-move {
    100%{
        transform: translatex(-5px);
    }  
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****Gallery section style */
.gallery{
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    position: relative;
    background-color: var(--background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .card{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .card .pic{
    position: relative;
    overflow: hidden;
}
.gallery .card .pic::before{
    content: "";
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    position: absolute;
    height: 1;
    width: 1;
    background-color: #c0b4b460; 
    opacity: 0;
    z-index: 2;
}
.gallery .card .pic:hover::before{
    animation: flash 0.7s; /*flashing the card image*/
}

.gallery .card img{
    max-width: 100%;
    max-height: 100%;
    transition:var(--main-tran);
}
.gallery .card .pic:hover img{
    transform: rotate(5deg) scale(1.1);
}
/*falsh animation*/
@keyframes flash{
    0% , 40%{
        opacity: 1;
    }
    100%{
        height: 110%;
        width:110%;
        opacity: 0;
    }
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****Features section style */
.features{
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    position: relative;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .card{
    text-align: center;
    border: 1px solid #ccc;
}
.features .card .img-holder{
    position: relative;
    overflow: hidden;
}
.features .card .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}
.features .card .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .card .img-holder img {
    max-width: 100%;
}
.features .card:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}
.features .card h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features .card h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}
.features .card p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}
.features .card a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-tran);
}
/*quality card */
.features .quality .img-holder::before {
    background-color: #a882c89c;
}
.features .quality h2::after {
    background-color: #a882c89c;
}
.features .quality a {
    color: #a882c89c;
    border-color: #a882c89c;
    background: linear-gradient(to right, #a882c89c 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
/*time*/
.features .time .img-holder::before {
    background-color: rgba(64, 64, 214, 0.603);
}
.features .time h2::after {
    background-color: rgba(64, 64, 214);
}
.features .time a {
    color: rgba(64, 64, 214);
    border-color:rgba(64, 64, 214);
    background: linear-gradient(to right, rgba(64, 64, 214) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
/*passion*/
.features .passion .img-holder::before {
    background-color: rgba(204, 214, 64, 0.603);
}
.features .passion h2::after {
    background-color: rgba(204, 214, 64);
}
.features .passion a {
    color: rgba(204, 214, 64);
    border-color:rgba(204, 214, 64);
    background: linear-gradient(to right, rgba(204, 214, 64) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
}


.features .card:hover a {
    background-position: left bottom;
    color: white;
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****testimonials section style */
.test{
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    position: relative;
    background-color: var(--background);
}
.test .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.test .card{
    padding: 20px;
    background-color: white;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    position: relative;

}
.test .card img{
    width:100px;
    position: absolute;
    top:-35px;
    right: -20px;
    border:15px solid var(--background);
    border-radius: 50%;
}
.test .card h3{
    margin: 0px auto 10px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}
.test .card .title{
    color:black;
    font-size: 15px;
    font-weight: normal;
    padding: 0 auto 20px;

}
.test .card .rate{
color:rgb(205, 202, 50);
margin-top: 20px;
font-size: 20px;
}

.test .card p{
    font-size: 15px;
    line-height: 1.5; 
    color:#777;
    font-weight: 400;
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****team section style */
.team   {
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    background-color: white;
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team .box {
    position: relative;
    z-index: 0;
}
.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-tran);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-tran);
    border-radius: 10px;
}
.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .data .social i{
    color: #777;
    var:(--main-tran)
}
.team .data .social a:hover i {
    color :var(--main-color)
}
.team .box .info{
    padding-left: 80px;
}
.team .box .info h3{
    font-size: 21px;
    margin-bottom: 0;
    color: var(--main-color);
    transition: var(--main-tran);
}
.team .box .info .p{
    font-size: 20px ;
    margin-top: 10px;
}
.team .box:hover .info p{
    color: #777;
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****services section style *//*********************/         /*********************/         /*********************/  
.services{
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    background-color: var(--background);
    position: relative;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .card{
    background-color: white;
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    position: relative;
    transition: var(--main-tran);
}
.services .container .card::before{
    content: '';
    left:50%;
    transform: translateX(-50%);
    top: -3px;
    height: 3px;
    background-color : var(--main-color);
    width: 0 ;
    position: absolute;
    transition: var(--main-tran);
}
.services .container .card:hover{
    transform: translateY(-10px);
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 25%), 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.services .container .card:hover::before{
    width:100%;
}
.services .container .card i{
    color: #d5d5d5;
    display: block;
    text-align: center;
    margin: 10px auto;
}
.services .card h3{
    font-size: 25px;
    text-align: center;
    color: var(--main-color);
    margin :0 auto 20px;
}
.services .card .info{
    position: relative;
    padding: 15px ;
    background-color: #f6f6f6;
    text-align: right; 
}
.services .card .info a{
    text-decoration: none;
    color: var(--main-color);
}
.services .card .info::before{
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-right: 20px;
}
.services .card .info::after{
    content: "";
    position: absolute;
    width: 50px ; 
    left:65px  ;
    top:0;
    height: calc(100% + 0.4px) ;  
    background-color: #d5d5d5;
    transform: skewx(-25deg);
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****skills section style *//*********************/
.t-skills   {
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    position: relative;
}
.t-skills .container{
    display: flex;
    align-items: center;
}
@media (max-width:979px){
    .t-skills .container img{
        display: none;
    }
}
.t-skills .container img{
    width:500px;
    padding-right: 40px;
}
.t-skills .skills{
    flex: 1;
}
.t-skills .skills .skill h3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}
.t-skills .skills .skill h3 span{
    font-size: 11px;
    color: var(--main-color);
    border: 1px solid;
    padding: 3px 5px;
    border-radius: 3px;
}
.skills .progress{
    width:100%;
    height: 25px;
    background-color: #eee;
    position: relative;
}
.skills .progress span{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: var(--main-color);
    top:0;
    left: 0;
}
/*********************/         /*********************/         /*********************/  
/************************************************************************************/
/************************************************************************************/
/*********************/    
/****work steps section style *//*********************/
.work{
    padding-top: var(--sections-padding);
    padding-bottom:var(--sections-padding);
    background-color: var(--background);
    position: relative;
}
.work .container{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:991px){
    .work .container{
        flex-direction: column;
    }
}
.work .container .step{
    flex :2
}
.work .container img{
    max-width: 500px;
    margin-right: 100px;
}
@media (max-width:991px){
    .work .container img{
        width: 300px;
        margin: 20px auto 50px;
    }
}

.work .content .step{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding:20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border:2px solid white;
    position: relative;
    z-index: 1;
}
.work .content .step::before{
    content: "";
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: #c0b4b460; 
    transition: var(--main-tran);
    opacity: 1;
    z-index: 1;
}
.work .content .step:hover::before{
    width: 100%;
    height: 100%;
}

.work .content .step img{
    width: 70px;
    margin-right: 10px;
}
.work .content .step > .text{
    padding: 0 20px;

}
.work .content .step .text > h3{
    margin: 0 auto 15px;
    font-size: 20px;
    font-weight: bold;
}
.work .content .step .text > p{

    color: #777;
    font-size: 15px;
    line-height: 1.4;

}
